$Scissors_Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
$Paper_Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
$Rock_Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
$Lizard_Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
$Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

$Dark_Text: hsl(229, 25%, 31%);
$Score_Text: hsl(229, 64%, 46%);
$Header_Outline: hsl(217, 16%, 45%);

$Radial_Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);