@use 'variables' as v;

body {
    background: linear-gradient(v.$Radial_Gradient);
    font-family: v.$font-Barlow;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    width: 100%;
    height: 100vh;
    background: linear-gradient(v.$Radial_Gradient);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 3px solid v.$Header_Outline;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    border-radius: .5rem;

    .text__score {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.25rem 3rem;
        background-color: v.$White;
        gap: .5rem;
        border-radius: .5rem;

        p {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: v.$Score_Text;
        }

        #score {
            font-size: 3.5rem;
            font-weight: 700;
            color: v.$Dark_Text;
        }
    }
}




.img__container {
    background-color: v.$White;
    border-radius: 50%;
    padding: 3.5rem;
    box-shadow: inset 0em .5em darken(v.$White, 15%);
    text-align: center;

    img {
        scale: 1.5;
    }
}

.options__container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 700px;
    padding: 3rem 0;
    height: 100%;
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: top 70% left 50%;

    .option {
        position: absolute;
        background-color: black;
        border-radius: 50%;
        padding: 1.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    #option__paper {
        top: 25%;
        left: 15%;
        background: linear-gradient(v.$Paper_Gradient);
        box-shadow: inset 0em -.5em v.$Paper_Shadow;
    }

    #option__rock {
        top: 60%;
        background: linear-gradient(to bottom, v.$Rock_Gradient);
        box-shadow: inset 0em -.5em v.$Rock_Shadow;
    }

    #option__scissor {
        top: 25%;
        right: 15%;
        background: linear-gradient(to bottom, v.$Scissors_Gradient);
        box-shadow: inset 0em -.5em v.$Scissors_Shadow;
    }
}

.game__container {
    display: none;
    width: 100%;
    max-width: 900px;
    justify-content: center;
    gap: 4rem;
    padding-top: 4rem;
    align-items: center;

    .game__title {
        font-size: 1.5rem;
        font-weight: 600;
        color: v.$White;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
}


.you__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    .your__pick {
        padding: 1.5rem;
        border-radius: 50%;
    }

    #your__paper {
        display: none;
        background: linear-gradient(v.$Paper_Gradient);
        box-shadow: inset 0em -.5em v.$Paper_Shadow;
    }

    #your__scissor {
        display: none;
        background: linear-gradient(to bottom, v.$Scissors_Gradient);
        box-shadow: inset 0em -.5em v.$Scissors_Shadow;
    }

    #your__rock {
        display: none;
        background: linear-gradient(to bottom, v.$Rock_Gradient);
        box-shadow: inset 0em -.5em v.$Rock_Shadow;
    }

}

.result__container {
    display: none;
    flex-direction: column;
    gap: 2rem;

    h3 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: v.$White;
    }

    #btn__reset {
        width: 100%;
        padding: 1rem 2rem;
        text-transform: uppercase;
        border: 1px solid v.$White;
        font-weight: 700;
        border-radius: .5rem;
        letter-spacing: .1rem;

        &:hover {
            cursor: pointer;
            color: v.$Rock_Shadow;
        }
    }
}

.bot__container {
    @extend .you__container;

    .bot__pick {
        @extend .your__pick;
    }

    .bot__shadow {
        padding: 7rem;
        background-color: darken(v.$Background__Color, 10%);
        border-radius: 50%;
    }

    #bot__paper {
        @extend #your__paper;
    }

    #bot__scissor {
        @extend #your__scissor;
    }

    #bot__rock {
        @extend #your__rock;
    }

}

#btn__rules {
    align-self: flex-end;
    padding: .75rem 2.25rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid v.$White;
    border-radius: .5rem;
    color: v.$White;
    letter-spacing: .1rem;

    &:hover {
        cursor: pointer;
        background-color: v.$White;
        color: v.$Dark_Text;
    }
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: v.$Rules_Background;

    .rules__container {
        display: flex;
        flex-direction: column;
        background-color: v.$White;
        padding: 2rem;
        gap: 2rem;
        border-radius: .5rem;
    }

    .rules__text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: v.$Dark_Text;
        }

        img {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media(max-width:800px) {
    .img__container {
        background-color: v.$White;
        border-radius: 50%;
        padding: 2rem;

        img {
            scale: 1;
        }
    }

    .options__container {
        max-width: 100%;
        padding: 1.5rem 0;

        #option__paper {
            top: 25%;
            left: 15%;
        }

        #option__rock {
            top: 60%;
        }

        #option__scissor {
            top: 25%;
            right: 15%;
        }

    }



    #bot__shadow {
        padding: 5.5rem;
    }

    .game__container {
        align-items: flex-end;
    }

}

@media(max-width:600px) {

    .text__container {
        width: 100%;
        max-width: 100%;
        padding: .5rem;
        border-radius: .5rem;

        .text__titles {
            img {
                scale: 0.9;
            }
        }

        .text__score {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 1.5rem;
            background-color: v.$White;
            gap: .25rem;
            border-radius: .5rem;

            p {
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: .1rem;
                color: v.$Score_Text;
            }

            #score {
                font-size: 2.5rem;
                font-weight: 700;
                color: v.$Dark_Text;
            }
        }
    }

    .options__container {
        max-width: 100%;
        padding: 0;
        height: 60vh;

        .option {
            padding: 1rem;
        }

        #option__paper {
            top: 15%;
            left: 10%;
        }

        #option__rock {
            top: 60%;
        }

        #option__scissor {
            top: 15%;
            right: 10%;
        }
    }


    #bot__shadow {
        padding: 5.5rem;
    }

    .game__container {
        align-items: flex-end;
    }

    .img__container {
        background-color: v.$White;
        border-radius: 50%;
        padding: 2rem;

        img {
            scale: 1;
        }
    }

}

@media(max-width:400px) {

    .text__container {
        width: 100%;
        max-width: 100%;
        padding: .5rem;
        border-radius: .5rem;

        .text__titles {
            img {
                scale: 0.6;
                margin-left: -2rem;
            }
        }

        .text__score {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: v.$White;
            gap: .25rem;
            border-radius: .5rem;

            p {
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: .1rem;
                color: v.$Score_Text;
            }

            #score {
                font-size: 2.5rem;
                font-weight: 700;
                color: v.$Dark_Text;
            }
        }
    }

    .options__container {
        max-width: 100%;
        padding: 0;
        height: 60vh;

        .option {
            padding: 1rem;
        }

        #option__paper {
            top: 5%;
            left: -10%;
        }

        #option__rock {
            top: 60%;
        }

        #option__scissor {
            top: 5%;
            right: -10%;
        }
    }


    #bot__shadow {
        padding: 4rem;
    }

    .game__container {
        width: 100%;
        align-items: flex-end;
        padding-top: 1rem;

        .game__title {
            font-size: 1.25rem;
        }
    }

    .img__container {
        background-color: v.$White;
        border-radius: 50%;
        padding: 1.5rem;

        img {
            scale: 1;
        }
    }

    .you__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        .your__pick {
            padding: 1rem;
            border-radius: 50%;
        }
    }

    .result__container {
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 60%;

        h3 {
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            color: v.$White;
        }

        #btn__reset {
            width: 100%;
            padding: 1rem 2rem;
            text-transform: uppercase;
            border: 1px solid v.$White;
            font-weight: 700;
            border-radius: .5rem;
            letter-spacing: .1rem;

            &:hover {
                cursor: pointer;
                color: v.$Rock_Shadow;
            }
        }
    }

    #btn__rules {
        align-self: center;
    }

    .rules {
        .rules__container {
            height: 100vh;
            width: 100%;
            border-radius: 0;
        }

    }
}