@import url(yourinfo-style.css);
/* @import url(yourplan-style.css); */

:root {
    --color-background: blue;
    --color-hard-blue: hsl(213, 96%, 18%);
    --color-normal-blue: hsl(243, 100%, 62%);
    --color-soft-blue: hsl(228, 100%, 84%);
    --color-light-blue: hsl(206, 94%, 87%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(231, 11%, 63%);
    --color-light-grey: hsl(229, 24%, 87%);
    --color-magnolia: hsl(217, 100%, 97%);
    --color-alabaster: hsl(231, 100%, 99%);
    --color-red: hsl(354, 84%, 57%);
    --font-Ubuntu: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
    font-family: var(--font-Ubuntu);
}

#form__info {
    display: none;
}

.container {
    max-width: 1600px;
    min-width: 800px;
    padding: 1.5rem;
    background-color: var(--color-white);
    border-radius: .5rem;
    min-height: 580px;
    width: 50%;
}

.form {
    display: flex;
    gap: 4rem;
}


.steps__container {
    background: url('./images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 275px;
    min-height: 580px;
}

.step {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.step__number-container {
    border-radius: 50%;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

#step__current {
    background-color: var(--color-soft-blue);
    color: var(--color-hard-blue);
    border-color: var(--color-soft-blue);
}

.step__number {
    font-size: 1rem;
    padding: 1rem;
    font-weight: 700;
}

.step__text-step,
.step__text-type {
    text-transform: uppercase;
}

.step__text-step {
    font-weight: 300;
    font-size: .75rem;
    padding-bottom: .5rem;
    color: var(--color-grey);
}

.step__text-type {
    font-weight: 700;
    color: var(--color-white);
}

.form__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 2.5rem;
}

.form__content-title-container {
    padding-top: 3rem;
}

.form__content-title-container h1 {
    font-size: 2.5rem;
    color: var(--color-hard-blue);
    padding-bottom: .5rem;
    font-weight: 700;
}

.form__content-title-container p {
    font-size: 1.25rem;
    color: var(--color-grey);
}

.buttons__container {
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    gap: 4rem;
}

.form__button {
    align-self: flex-end;
    font-size: 1.125rem;
    margin-top: auto;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--color-hard-blue);
    color: var(--color-white);
    border: 1px solid var(--color-hard-blue);
}

.form__button:hover {
    background-color: var(--color-normal-blue);
    border-color: var(--color-normal-blue);
    cursor: pointer;
}

/* ---------------------------------------------------------------------- */


.form__plans-container {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

.plan__card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-soft-blue);
    border-radius: .5rem;
    width: 100%;
}

.plan__card:hover {
    cursor: pointer;
    border-color: var(--color-hard-blue) !important;
}

.plan__card img {
    padding-bottom: 3rem;
}

.plan__card-title {
    font-size: 1.125rem;
    color: var(--color-hard-blue);
    font-weight: 700;
    padding-bottom: .5rem;
}

.plan__card-text-month,
.plan__card-text-year {
    font-weight: 300;
    transition: all .3s;
}

.plan__card-text-bonus {
    padding-top: .5rem;
    font-weight: 700;
    font-size: .9rem;
    color: var(--color-hard-blue);
    transition: all .3s;
}

.plan__card-yearOn {
    display: none;
}

.checkbox__label {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.checkbox__label:hover {
    cursor: pointer;
}


#arcade__check,
#advanced__check,
#pro__check {
    -webkit-appearance: none;
}


.switch__container {
    align-self: center;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    /*     width: 60px;
    height: 34px; */
    width: 3rem;
    height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.form__button-back {
    font-size: 1.125rem;
    font-weight: 700;
    align-self: flex-start;
    margin-top: auto;
    padding: .75rem 1.75rem;
    background-color: var(--color-white);
    color: var(--color-grey);
    border: none;
}

.form__button-back:hover {
    color: var(--color-hard-blue);
    text-decoration: underline;
    cursor: pointer;
}