@import url(yourinfo-style.css);
@import url(yourplan-style.css);
@import url(youraddons-style.css);

:root {
    --color-background: blue;
    --color-hard-blue: hsl(213, 96%, 18%);
    --color-normal-blue: hsl(243, 100%, 62%);
    --color-soft-blue: hsl(228, 100%, 84%);
    --color-light-blue: hsl(206, 94%, 87%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(231, 11%, 63%);
    --color-light-grey: hsl(229, 24%, 87%);
    --color-magnolia: hsl(217, 100%, 97%);
    --color-alabaster: hsl(231, 100%, 99%);
    --color-red: hsl(354, 84%, 57%);
    --font-Ubuntu: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
    font-family: var(--font-Ubuntu);
}

#form__info,
#form__plan,
#form__addons {
    display: none;
}

.container {
    max-width: 1600px;
    min-width: 800px;
    padding: 1.5rem;
    background-color: var(--color-white);
    border-radius: .5rem;
    min-height: 580px;
    width: 50%;
}

.form {
    display: flex;
    gap: 4rem;
}


.steps__container {
    background: url('./images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 275px;
    min-height: 580px;
}

.step {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.step__number-container {
    border-radius: 50%;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

#step__current {
    background-color: var(--color-soft-blue);
    color: var(--color-hard-blue);
    border-color: var(--color-soft-blue);
}

.step__number {
    font-size: 1rem;
    padding: 1rem;
    font-weight: 700;
}

.step__text-step,
.step__text-type {
    text-transform: uppercase;
}

.step__text-step {
    font-weight: 300;
    font-size: .75rem;
    padding-bottom: .5rem;
    color: var(--color-grey);
}

.step__text-type {
    font-weight: 700;
    color: var(--color-white);
}

.form__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 2.5rem;
}

.form__content-title-container {
    padding-top: 3rem;
}

.form__content-title-container h1 {
    font-size: 2.5rem;
    color: var(--color-hard-blue);
    padding-bottom: .5rem;
    font-weight: 700;
}

.form__content-title-container p {
    font-size: 1.25rem;
    color: var(--color-grey);
}

.buttons__container {
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    gap: 4rem;
}

.form__button {
    align-self: flex-end;
    font-size: 1.125rem;
    margin-top: auto;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--color-hard-blue);
    color: var(--color-white);
    border: 1px solid var(--color-hard-blue);
}

.form__button:hover {
    background-color: var(--color-normal-blue);
    border-color: var(--color-normal-blue);
    cursor: pointer;
}

#btn__summary {
    border-color: var(--color-normal-blue);
    background-color: var(--color-normal-blue);
}

#btn__summary:hover {
    border-color: var(--color-soft-blue);
    background-color: var(--color-soft-blue);
}

/* ---------------------------------------------------------------------- */

.form__summary-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 2rem;
    width: 95%;
}

.form__summary-plan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form__summary-plan-type,
.form__summary-plan-price {
    font-size: 1.125rem;
    color: var(--color-hard-blue);
    font-weight: 700;
}

#btn__change-plan {
    text-decoration: underline;
    padding-top: .25rem;
    text-underline-offset: .2rem;
}

#btn__change-plan:hover {
    color: var(--color-normal-blue);
    cursor: pointer;
}

.form__summary-container hr {
    width: 100%;
}

.form__summary-addons-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__summary-addons {
    display: flex;
    justify-content: space-between;
}

.form__summary-addons h3,
#form__summary-total-text {
    color: var(--color-grey);
}

.form__summary-addons p {
    color: var(--color-hard-blue);
    font-weight: 500;
}

.form__summary-total {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

#form__summary-total-price {
    font-size: 1.5rem;
    color: var(--color-normal-blue);
    font-weight: 500;
}