:root {
    /* --color-red: #f7b5b5; */
    --color-tomato: hsl(4, 100%, 67%);
    --color-charcoal-grey: hsl(235, 18%, 26%);
    --color-dark-slate-grey: hsl(235, 18%, 26%);
    --color-grey: hsl(231, 7%, 60%);
    --color-white: hsl(0, 0%, 100%);
    --font-Roboto: 'Roboto', sans-serif;
    --color-soft-shadow: #36363641;
    --color-transparent: #ffffff00;
}


body {
    background-color: var(--color-dark-slate-grey);
    font-family: var(--font-Roboto);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
    margin: 4rem auto;
    background-color: var(--color-white);
    width: 900px;
    border-radius: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

form h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-dark-slate-grey);
}

form p {
    padding: 1.5rem 0;
}

form ul li {
    padding-bottom: .75rem;
}

form label {
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: 700;
}

form input {
    margin: .5rem 0 1.5rem;
    padding: 1rem 0;
    padding-left: .5rem;
    border: 1px solid rgb(202, 202, 202);
    border-radius: .5rem;
}

form input:focus {
    cursor: pointer;
}

form button {
    border-radius: .5rem;
    padding: 1rem 0;
    background: var(--color-charcoal-grey);
    border-color: var(--color-charcoal-grey);
    color: var(--color-white);
    font-weight: 700;
}

form button:hover {
    background: linear-gradient(to right, rgb(241, 26, 91), rgb(241, 90, 21));
    box-shadow: .15rem .5rem 1rem rgb(241, 90, 21);
    border-color: var(--color-transparent);
    cursor: pointer;
}

.email__required,
.email__invalid {
    align-self: flex-end;
    font-size: .8rem;
    color: var(--color-tomato);
}


.hidden {
    display: none;
}