@import url('./css/header.css');
@import url('./css/presentation.css');
@import url('./css/form.css');
@import url('./css/history.css');
@import url('./css/statistics.css');
@import url('./css/invite.css');

:root {
    --cyan: hsl(180, 66%, 49%);
    --cyan-lighter: hsl(180, 58%, 65%);
    --blue-light: hsl(180, 24%, 93%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);

    --grey: hsl(0, 0%, 75%);
    --grey-violet: hsl(257, 7%, 63%);
    --grey-dark-blue: hsl(255, 11%, 22%);
    --grey-dark-violet: hsl(260, 8%, 14%);

    --white: hsl(0, 21%, 93%);

    --font-size: 18px;
    --font-family: 'Poppins', sans-serif;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    background-color: var(--blue-light);
}