/* @import url('./css/header.css'); */

:root {
    --cyan: hsl(180, 66%, 49%);
    --cyan-lighter: hsl(180, 58%, 65%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);

    --grey: hsl(0, 0%, 75%);
    --grey-violet: hsl(257, 7%, 63%);
    --grey-dark-blue: hsl(255, 11%, 22%);
    --grey-dark-violet: hsl(260, 8%, 14%);

    --white: hsl(0, 21%, 93%);

    --font-size: 18px;
    --font-family: 'Poppins', sans-serif;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.header {
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.header__logo {
    align-self: center;
    padding-right: 3rem;
}

.header__nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.header__list {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header__list-item:first-child {
    padding-right: 1rem;
}

.header__list-item {
    color: var(--grey);
    font-weight: 700;
    transition: all .3s;
}

.header__list-item:hover {
    cursor: pointer;
    color: var(--dark-violet);
}


.header__login-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__login-btn {
    color: var(--grey);
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    background-color: transparent;
}

.header__login-btn:hover {
    cursor: pointer;
}

.header__signup-btn {
    color: var(--white);
    padding: .75rem 1.5rem;
    border-style: solid;
    border-radius: 1.25em;
    border-color: var(--cyan);
    background-color: var(--cyan);
    font-weight: 700;
    font-size: 1.25rem;
    transition: all .3s;
}

.header__signup-btn:hover {
    cursor: pointer;
    background-color: var(--cyan-lighter);
}

.header__menu-btn {
    display: none;
}

.menu__container {
    display: none;
}

@media(max-width:900px) {
    .header__container {
        width: 90%;
    }

    .header__menu-btn {
        display: block;
        border: none;
        background-color: transparent;
    }

    .header__menu-btn i {
        font-size: 2rem;
        color: var(--grey);
    }

    .header__menu-btn i:hover {
        cursor: pointer;
        color: var(--cyan);
    }

    .header__nav-container {
        display: none;
    }

    .menu__container {
        flex-direction: column;
        background-color: var(--dark-violet);
        padding: 2rem;
        align-items: center;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .menu__list-item {
        color: var(--white);
        font-weight: 700;
        font-size: 1.25rem;
    }

    .menu__hr {
        width: 90%;
        color: var(--grey);
    }

    .menu__login-container {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .menu__login-btn {
        border: none;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--white);
    }

    .menu__login-btn:hover {
        cursor: pointer;
    }

    .menu__signup-btn {
        color: var(--white);
        background-color: var(--cyan);
        border: 0px solid var(--cyan);
        width: 90%;
        padding: 1rem;
        border-radius: 1.5em;
        font-size: 1.25rem;
        font-weight: 700;
    }
}